@media screen and (max-width: 320px) {
    .nav_top {
        column-gap: 0;
    }

    .nav_bot__btn {
        width: 35px;
        height: 35px;
    }

    .footer_nav .input-group,
    .input-group-text,
    .carousel_right__price button,
    .nav_bot .input-group,
    .input-group .btn {
        height: 34px;
    }

    .carousel_right__price button,
    .input-group .btn {
        width: 34px;
    }

    .carousel_btn button {
        width: 124px;
        height: 34px;
    }

    .input-group button {
        width: 70px;
    }

    .carousel_grip__img img {
        width: 155px;
    }

    .carousel_bot__title img {
        width: 74px;
        height: 97px;
    }

    .carousel_right__title h2,
    .carousel-item__left h1 {
        font-size: 13px;
        line-height: 19px;
    }

    .whatsapp {
        width: 150px;
        height: 25px;
    }

    .card_price h3,
    .carousel_right__price span,
    .carousel_btn span,
    .carousel_right__title p,
    .carousel_btn span,
    .whatsapp p,
    .company_name p,
    .carousel-item__left p,
    .carousel_bot__title p,
    .input-group-text,
    .footer_end {
        font-size: 10px;
        line-height: 12px;
    }

    .price h2 {
        font-size: 20px;
        line-height: 23px;
    }

    .card_btn a,
    .card_price h3,
    .carousel_right__price p,
    .contacts h2,
    .card-title,
    .company_name h2,
    .price h3 {
        font-size: 14px;
        line-height: 16px;
    }

    .contacts h2 {
        font-size: 12px;
    }

    .contacts {
        padding: 0;
    }

    .carousel-item {
        border-radius: 15px;
    }

    .product {
        max-width: 145px;
    }

    .carousel_bot__title p {
        width: 150px;
    }

    .product_img img {
        width: 149px;
        height: 127px;
    }

    .middle_buttons {
        overflow: hidden;
        column-gap: 10px;
    }

    .card_btn {
        width: 110px;
        height: 35px;
        margin-right: 10px;
    }

    .news_columns {
        row-gap: 30px
    }

    .input-group {
        max-width: 350px;
    }

    .footer_icons {
        padding: 21px;
    }
}