@media (min-width: 415px) and (max-width: 768px) {
    .navbar-nav ul {
        display: block;
    }

    .contacts h2 {
        font-size: 16px;
        line-height: 19px;
    }

    .hours p {
        font-size: 12px;
        line-height: 18px;
    }

    .nav_bot__icon p,
    .location p {
        font-size: 12px;
        line-height: 14px;
    }

    .whatsapp {
        width: 185px;
    }

    .icon_block img {
        width: 20px;
        height: 20px;
    }

    .whatsapp_img img {
        width: 12px;
        height: 12px;
    }

    .nav_bot__btn {
        width: 43px;
        height: 43px;
        background: #005BB9;
        border-radius: 6px;
    }

    .input-group .form-control {
        height: 43px;
    }

    .input-group button {
        width: 90px;
        height: 43px;
    }

    .nav_bot__icon img {
        width: 20px;
        height: 20px;
    }

    .left_line::after {
        margin: 10px;
    }
    .nav_bot__icon .m-auto{
        width: 68px;
    }
}