header {
    height: 36px;
    background: #0F2438;
}

.navbar p,
.navbar a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.navbar_right {
    column-gap: 30px;
}

.navbar_right a {
    text-decoration: none;
}

.company img {
    width: 66px;
    height: 71px;
}

.company_name h2,
.contacts h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}

.company_name p,
.whatsapp p,
.contacts p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}

.hours p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #0F2438;
}

.location p,
.nav_bot__icons p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

nav {
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.nav_top {
    column-gap: 60px;
}

.whatsapp {
    width: 204px;
    height: 30px;
    background: #E1EFD0;
    border-radius: 2px;
}

.nav_bot__btn {
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
}

.nav_bot button p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.form-control {
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
}

.input-group {
    margin-right: 85px;
    max-width: 600px;
    height: 53px;
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
}

.input-group button {
    width: 101px;
    height: 53px;
    background: #005BB9;
    border-radius: 0 6px 6px 0;
}

.nav_bot__icons img {
    width: 28px;
    height: 28px;
}

.left_line::after {
    content: "";
    margin: 25px;
    width: 0;
    height: 100%;
    border: 1px solid #E1E5F8;
}
