.border {
    border: solid dimgrey;
    border-radius: 10px;
}

.grey {
    margin: 2px;
    background: darkgrey;
    border-radius: 10px;
}

.box {
    display: flex;
}

.h100 {
    height: 100px;
}

.h400 {
    height: 400px;
}

.box_left {
    width: 60%;
}

.box_right {
    width: 40%;
}